/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
.ds-2col > .group-left {
  float: left;
  width: 50%; }

.ds-2col > .group-right {
  float: left;
  width: 50%; }

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .field-name-field-paragraph-s .ds-2col > .group-right,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-right,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-right {
    width: 48.75%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left {
    margin-right: 2.5%; }

.block-bean-conference {
  width: 33.3%;
  margin-bottom: 0; }

.block-bean-about-us {
  width: 33.3%;
  margin-bottom: 0; }

.block-bean-magazine {
  width: 33.3%;
  margin-bottom: 0; }

.zone-preface-second-wrapper .block-projecten-block .views-row {
  width: 24.3%;
  float: left;
  padding: 0 4%;
  margin-bottom: 50px; }
.zone-preface-second-wrapper .block-projecten-block .views-field-field-image img {
  margin: 0 0 10px 0;
  margin: 0 0 0 0; }
.zone-preface-second-wrapper .block-projecten-block .views-field-title {
  text-align: left; }
.zone-preface-second-wrapper .block-projecten-block .views-field-body p {
  text-align: left; }

.block-news-news-frontpage .views-row {
  width: 33.3%;
  float: left;
  padding: 0 4%;
  margin-bottom: 50px;
  box-sizing: border-box; }
  .block-news-news-frontpage .views-row .views-field-field-image img {
    margin: 0 0 10px 0;
    margin: 0 0 0 0; }
  .block-news-news-frontpage .views-row .views-field-title {
    text-align: left; }
  .block-news-news-frontpage .views-row .views-field-body p {
    text-align: left; }

.front .view-partners .views-field-field-logo {
  width: 33.3%;
  float: left;
  height: 130px;
  margin-bottom: 30px; }

/*# sourceMappingURL=default-alpha-default-narrow.css.map */
