/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
@import 'variables';

.ds-2col > .group-left {
  float: left;
  width: 50%;
}

.ds-2col > .group-right {
  float: left;
  width: 50%;
}

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%;
  .ds-2col > .group-left,
  .ds-2col > .group-right {
    width: 48.75%;
  }
  .ds-2col > .group-left {
    margin-right: 2.5%;
  }
}

.block-bean-conference {
  width:33.3%;
  margin-bottom:0;
}
.block-bean-about-us {
  width:33.3%;
  margin-bottom:0;
}
.block-bean-magazine {
  width:33.3%;
  margin-bottom:0;
}

.block-bean-conference-vervolg {
  width:33.3%;
  margin-bottom:0;
}
.block-bean-about-us-vervolg {
  width:33.3%;
  margin-bottom:0;
}
.block-bean-magazine-vervolg {
  width:33.3%;
  margin-bottom:0;
}

.zone-preface-second-wrapper {
  .block-projecten-block {
    .views-row {
      width: 24.3%;
      float: left;
      padding: 0 4%;
      margin-bottom:50px;
    }
    .views-field-field-image {
      img {
        margin:0 0 10px 0;
        margin:0 0 0 0;
      }
    }
    .views-field-title {
      text-align:left;
    }
    .views-field-body {
      p {
        text-align:left;
      }
    }
  }
}

.block-projecten-block-1 {
  .views-row {
    width: 24.3%;
    float: left;
    padding: 0 4%;
    margin-bottom:50px;
  }
  .views-field-field-image {
    img {
      margin:0 0 10px 0;
      margin:0 0 0 0;
    }
  }
  .views-field-title {
    text-align:left;
  }
  .views-field-body {
    p {
      text-align:left;
    }
  }
}

.block-news-news-frontpage {
  .views-row {
    width: 50%;
    float: left;
    padding: 0 4%;
    margin-bottom: 50px;
    box-sizing: border-box;
    .views-field-field-image {
      img {
        margin: 0 0 10px 0;
        margin:0 0 0 0;
      }
    }
    .views-field-title {
      text-align:left;
    }
    .views-field-body p {
      text-align:left;
    }
  }
}

.front {
  .view-partners {
    .views-field-field-logo {
      width:33.3%;
      float:left;
      height:130px;
      margin-bottom:30px;
    }
  }
}

iframe.media-youtube-player {
  width:50%;
  margin:0 auto;
}

.views-slideshow-controls-text-previous {
  display: block;
  position: absolute;
  top: 32%;
  left: -30px;
  z-index: 100;
  background: url("img/left-arrow.png") no-repeat center;
  background-size: 40px;
  width: 40px;
  height: 62px;
  text-indent: -9999px;
}

.views-slideshow-controls-text-pause {
  display:none;
}

.views-slideshow-controls-text-next {
  display:block;
  position: absolute;
  top: 32%;
  right: -30px;
  z-index: 100;
  text-indent: -9999px;
  background: url("img/right-arrow.png") no-repeat center;
  background-size: 40px;
  width: 40px;
  height: 62px;
}

.button {
  a.button {
    padding:24px 50px;
  }
  a.button-light {
    padding:24px 50px;
  }
}

.block-news-news {
  .views-row {
    width: 33.3%;
    float: left;
    padding: 0 4%;
    margin-bottom: 50px;
    box-sizing: border-box;
    .views-field-field-image {
      img {
        margin: 0 0 10px 0;
        margin:0 0 0 0;
      }
    }
    .views-field-title {
      text-align:left;
    }
    .views-field-body p {
      text-align:left;
    }
  }
}

.block-news-newspage {
  .views-row {
    width: 33.3%;
    float: left;
    padding: 0 4%;
    margin-bottom: 50px;
    box-sizing: border-box;
    .views-field-field-image {
      img {
        margin: 0 0 10px 0;
        margin:0 0 0 0;
      }
    }
    .views-field-title {
      text-align:left;
    }
    .views-field-body p {
      text-align:left;
    }
  }
}

.block-views-partners-partner-block {
  .views-field-field-logo {
    width:20%;
    float:left;
    img {
      float:left;
    }
  }
  .views-field-title {
    width:70%;
    float:left;
    text-align:left;
  }
  .views-field-body {
    width:70%;
    float:left;
    text-align:left;
  }
}

.block-projecten-projects-page {
  .views-field-field-image {
    width:22%;
    float:left;
    img {
      float:left;
    }
  }
  .views-field-title {
    width:63%;
    float:left;
    font-size: 1.500em;
    color: #fff;
    font-weight: 700;
    text-align:left;
  }
  .views-field-body {
    width:63%;
    float:left;
    color: #fff;
    font-size: 0.938em;
    text-align:left;
  }
}

.block-clone-of-tweets-block {
  width:33.3%;
  float:left;
  margin-bottom:0px;
  .more-link {
    text-align:left;
    margin-left:8%;
  }
  .view-clone-of-tweets {
    color:#fff;
    padding: 0 24% 0 0;
    text-align:left;
    a {
      color:#fff;
    }
  }
}

.block-news-news-frontpage {
  width:66.7%;
  float:right;
}

