/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
body {
  font-size: 100%;
  font-family: "Raleway", sans-serif; }

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; }

.logo-img {
  margin: 0;
  max-width: 100%; }

h1 {
  font-size: 2em;
  font-weight: 800; }

h2 {
  font-size: 1.6em;
  font-weight: 600; }

h2.block-title {
  font-size: 1.6em;
  font-weight: 600; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em; }

h1, h2, h2.block-title, h3, h4, h5 {
  font-family: "Raleway", sans-serif; }

h3, h4, h5 {
  font-weight: 400; }

p, a, a:link, div {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-decoration: none; }

a, a:link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a:hover, a:link:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.fa:before {
  margin-right: 0.5em;
  font-family: FontAwesome; }

label {
  font-weight: normal; }

.form-textarea-wrapper textarea,
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border: 1px solid #e0e0e0;
  padding: 1.5%;
  outline: none;
  font-size: 14px;
  color: #888;
  margin: 0;
  max-width: 100%;
  display: block;
  background: #fff;
  -webkit-box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  height: auto;
  width: 80%; }

.form-textarea-wrapper .grippie {
  width: 80%; }

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.node-links ul li a {
  text-shadow: none;
  padding: 2% 4%;
  display: inline-block;
  border: none;
  background: #dddddd;
  border-radius: 5px;
  box-shadow: none; }

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.node-links ul li a:hover {
  background: #cccccc; }

#superfish-1-select {
  width: 100%;
  border-radius: 0;
  padding-left: 40px;
  background: #fff url("../css/img/hamburger-menu-icon.png") no-repeat 10px center;
  border: #ccc;
  background-size: 20px;
  color: #000; }

.ds-2col > .group-left {
  float: left;
  width: 100%; }

.ds-2col > .group-right {
  float: left;
  width: 100%; }

.field-name-field-paragraph-s,
.paragraphs-item-1-kolom-afbeelding,
.paragraphs-item-1-kolom-tekst,
.paragraphs-item-2-kolommen-afbeeldingen,
.paragraphs-item-2-kolommen-tekst,
.paragraphs-item-2-kolommen-tekst-afbeelding-link,
.paragraphs-item-2-kolommen-tekst-afbeelding-rech {
  float: left;
  width: 100%; }
  .field-name-field-paragraph-s .ds-2col > .group-left,
  .field-name-field-paragraph-s .ds-2col > .group-right,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-left,
  .paragraphs-item-1-kolom-afbeelding .ds-2col > .group-right,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-left,
  .paragraphs-item-1-kolom-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-afbeeldingen .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .ds-2col > .group-right,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-left,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .ds-2col > .group-right {
    width: 100%; }
  .field-name-field-paragraph-s .field-name-field-tekst-lang,
  .field-name-field-paragraph-s .field-name-field-tekst-rechts,
  .field-name-field-paragraph-s .field-name-field-afbeelding,
  .field-name-field-paragraph-s .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-afbeelding .field-name-field-afbeelding-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-lang,
  .paragraphs-item-1-kolom-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding,
  .paragraphs-item-1-kolom-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-afbeeldingen .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-link .field-name-field-afbeelding-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-lang,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-tekst-rechts,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding,
  .paragraphs-item-2-kolommen-tekst-afbeelding-rech .field-name-field-afbeelding-rechts {
    margin-bottom: 20px; }

.block-superfish-1 {
  float: right; }
  .block-superfish-1 ul li a {
    font-family: "Raleway", sans-serif;
    font-size: 1.125em;
    color: #4d87c5;
    text-transform: uppercase;
    font-weight: 700;
    margin: 68px 55px 0 0;
    border-bottom: 3px solid transparent; }
  .block-superfish-1 ul li a:hover {
    color: #68c7e9;
    border-bottom: 3px solid #68c7e9; }
  .block-superfish-1 ul li a.active {
    color: #68c7e9;
    border-bottom: 3px solid #68c7e9; }

#zone-header {
  width: 100%;
  margin: 0 auto; }
  #zone-header #region-header-first {
    width: 100%;
    margin: 0 auto; }
    #zone-header #region-header-first .block-bean-frontpage-banner {
      background-image: url("img/bg.png");
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      padding: 75px 0 0 0px;
      margin-bottom: 80px;
      background-size: cover; }
      #zone-header #region-header-first .block-bean-frontpage-banner .paragraphs-item-1-kolom-tekst {
        width: 80%;
        margin: 0 auto;
        float: none; }
      #zone-header #region-header-first .block-bean-frontpage-banner h3 {
        font-family: "Raleway", sans-serif;
        color: #fff;
        font-size: 1.875em;
        font-weight: 400; }
      #zone-header #region-header-first .block-bean-frontpage-banner h4 {
        font-family: "Raleway", sans-serif;
        color: #fff;
        font-size: 1.125em;
        font-weight: 400; }

.zone-branding {
  margin-bottom: 20px; }

.logo-img img {
  width: 65%; }

.view-projecten .view-footer {
  clear: both; }

.button {
  text-align: center;
  margin: 60px 0; }
  .button a.button {
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #fff;
    text-transform: uppercase;
    background-color: #4d87c5;
    font-weight: 700;
    font-size: 1.125em;
    padding: 13px 10px; }
  .button a.button-light {
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #fff;
    text-transform: uppercase;
    background-color: #68c7e9;
    font-weight: 700;
    font-size: 1.125em;
    padding: 13px 10px; }

.block-bean-conference {
  width: 100%;
  float: left;
  margin-bottom: 40px; }

.block-bean-about-us {
  width: 100%;
  float: left;
  margin-bottom: 40px; }

.block-bean-magazine {
  width: 100%;
  float: left;
  margin-bottom: 40px; }

.block-bean-conference-vervolg {
  width: 100%;
  float: left;
  margin-bottom: 40px; }

.block-bean-about-us-vervolg {
  width: 100%;
  float: left;
  margin-bottom: 40px; }

.block-bean-magazine-vervolg {
  width: 100%;
  float: left;
  margin-bottom: 40px; }

.bean-cta img {
  width: 40%;
  margin-bottom: 20px; }
.bean-cta .field-name-field-ondertitel {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.125em;
  font-weight: 500; }

.zone-preface-second-wrapper {
  background-color: #68c7e9;
  padding: 50px 0; }
  .zone-preface-second-wrapper .block-projecten-block .view-header {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    margin-bottom: 35px; }
    .zone-preface-second-wrapper .block-projecten-block .view-header p {
      color: #fff;
      font-family: "Raleway", sans-serif;
      font-size: 1.125em;
      font-weight: 400;
      text-align: center; }
  .zone-preface-second-wrapper .block-projecten-block .views-row {
    width: 100%;
    float: left;
    margin-bottom: 50px; }
  .zone-preface-second-wrapper .block-projecten-block .views-row-last {
    padding-right: 0; }
  .zone-preface-second-wrapper .block-projecten-block .views-field-field-image img {
    margin: 0 0 10px 0;
    margin: 0 auto; }
  .zone-preface-second-wrapper .block-projecten-block .views-field-title {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1.500em;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center; }
  .zone-preface-second-wrapper .block-projecten-block .views-field-body p {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 0.938em;
    font-weight: 400;
    text-align: center; }

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.250em;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center; }

.zone-preface-third-wrapper {
  background-color: #4d87c5;
  padding: 50px 0;
  box-shadow: 0px 10px 20px -5px #888888; }
  .zone-preface-third-wrapper h2 {
    border-bottom: 1px solid #fff;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px; }
  .zone-preface-third-wrapper .view-video-s .views-field-title {
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 10px; }
  .zone-preface-third-wrapper .view-video-s .views-field-body {
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    width: 65%;
    margin: 0 auto; }
  .zone-preface-third-wrapper .view-video-s .views-field-field-video {
    text-align: center;
    margin-bottom: 30px; }

.views-slideshow-controls-text-previous {
  display: none; }

.views-slideshow-controls-text-pause {
  display: none; }

.views-slideshow-controls-text-next {
  display: none; }

.front .block-partners-block h2 {
  color: #000; }
.front .block-partners-block p {
  font-size: 1.125em;
  font-weight: 500; }
.front .block-partners-block .view-header {
  border-bottom: 1px solid #464b58;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px; }
.front .view-partners .view-content {
  width: 80%;
  margin: 0 auto; }
.front .view-partners .views-field-field-logo {
  width: 100%;
  float: left;
  height: 130px;
  margin-bottom: 30px; }

.zone-postscript-wrapper {
  background-color: #68c7e9;
  padding: 50px 0;
  box-shadow: 0px 10px 20px -5px #888888; }

.zone-postscript-second-wrapper {
  padding: 50px 0; }
  .zone-postscript-second-wrapper h2 {
    color: #000;
    border-bottom: 1px solid #000;
    margin-bottom: 66px;
    padding-bottom: 20px; }

.front .zone-postscript-second-wrapper {
  padding: 50px 0; }
  .front .zone-postscript-second-wrapper h2 {
    color: #000;
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px; }

.zone-postscript-third-wrapper {
  background-color: #4d87c5;
  padding: 50px 0;
  box-shadow: 0px 10px 20px -5px #888888; }

.block-news-news-frontpage h2.block-title {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
  padding-bottom: 30px; }
.block-news-news-frontpage .views-row {
  width: 100%;
  float: left;
  padding: 0 0%;
  margin-bottom: 50px;
  box-sizing: border-box; }
  .block-news-news-frontpage .views-row .views-field-field-image img {
    margin: 0 0 10px 0;
    margin: 0 auto; }
  .block-news-news-frontpage .views-row .views-field-title {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1.500em;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center; }
  .block-news-news-frontpage .views-row .views-field-body p {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 0.938em;
    font-weight: 400;
    text-align: center; }
.block-news-news-frontpage .view-footer {
  clear: both; }

.block-news-news h2.block-title {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
  padding-bottom: 30px; }
.block-news-news .views-row {
  width: 100%;
  float: none;
  padding-right: 8%;
  margin-bottom: 50px;
  box-sizing: border-box; }
  .block-news-news .views-row .views-field-field-image img {
    margin: 0 0 10px 0;
    margin: 0 auto; }
  .block-news-news .views-row .views-field-title {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1.500em;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center; }
  .block-news-news .views-row .views-field-body p {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 0.938em;
    font-weight: 500;
    text-align: center; }
.block-news-news .view-footer {
  clear: both; }

.block-news-newspage h2.block-title {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  margin-bottom: 50px;
  padding-bottom: 30px; }
.block-news-newspage .views-row {
  width: 100%;
  float: none;
  padding-right: 8%;
  margin-bottom: 50px;
  box-sizing: border-box; }
  .block-news-newspage .views-row .views-field-field-image img {
    margin: 0 0 10px 0;
    margin: 0 auto; }
  .block-news-newspage .views-row .views-field-title {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1.500em;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center; }
  .block-news-newspage .views-row .views-field-body p {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 0.938em;
    font-weight: 500;
    text-align: center; }
.block-news-newspage .view-footer {
  clear: both; }

.zone-footer-wrapper {
  padding: 50px 0; }
  .zone-footer-wrapper h2.block-title {
    color: #4d87c5;
    font-size: 1.500em;
    font-weight: 700;
    text-align: left; }
  .zone-footer-wrapper p {
    color: #4d87c5;
    font-size: 0.938em;
    font-weight: 500;
    text-align: left; }

.block-superfish-2 ul.menu li {
  margin: 0; }
.block-superfish-2 li {
  width: 100%;
  margin: 0; }
  .block-superfish-2 li a {
    color: #4d87c5;
    font-size: 0.938em;
    font-weight: 500;
    text-align: left; }
.block-superfish-2 .sf-menu ul {
  position: initial; }

.block-projecten-block-1 .view-header {
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
  margin-bottom: 35px; }
  .block-projecten-block-1 .view-header p {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    text-align: center; }
.block-projecten-block-1 .views-row {
  width: 100%;
  float: left;
  margin-bottom: 50px; }
.block-projecten-block-1 .views-row-last {
  padding-right: 0; }
.block-projecten-block-1 .views-field-field-image img {
  margin: 0 0 10px 0;
  margin: 0 auto; }
.block-projecten-block-1 .views-field-title {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1.500em;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center; }
.block-projecten-block-1 .views-field-body p {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 0.938em;
  font-weight: 400;
  text-align: center; }

.not-front .field-name-title h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.250em;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left; }

.block-projecten-projects-page .views-row-odd {
  background-color: #68c7e9;
  float: left;
  padding: 30px; }
.block-projecten-projects-page .views-row-even {
  background-color: #4d87c5;
  float: left;
  padding: 30px; }
.block-projecten-projects-page .views-field-field-image {
  width: 22%;
  float: left; }
  .block-projecten-projects-page .views-field-field-image img {
    float: left; }
.block-projecten-projects-page .views-field-title {
  width: 63%;
  float: left;
  font-size: 1.500em;
  color: #fff;
  font-weight: 700; }
.block-projecten-projects-page .views-field-body {
  width: 63%;
  float: left;
  color: #fff;
  font-size: 0.938em; }

.zone-postscript-fourth-wrapper {
  width: 100%; }
  .zone-postscript-fourth-wrapper .zone-postscript-fourth {
    width: 100%; }
    .zone-postscript-fourth-wrapper .zone-postscript-fourth .region-postscript-fourth {
      width: 100%;
      margin: 0 auto; }
      .zone-postscript-fourth-wrapper .zone-postscript-fourth .region-postscript-fourth iframe {
        box-shadow: 0px 10px 20px -5px #888888; }

.context-contact .zone-content-wrapper {
  background-color: #68c7e9;
  padding: 50px 0; }
.context-contact .field-name-title h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 400; }
.context-contact .field-name-body {
  font-size: 15px;
  color: #fff; }
.context-contact .field-name-field-body-right {
  font-size: 15px;
  color: #fff; }
.context-contact .form-textarea-wrapper textarea, .context-contact textarea, .context-contact input[type="email"], .context-contact input[type="text"] {
  border-radius: 11px; }
.context-contact input[type="submit"] {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-transform: uppercase;
  background-color: #4d87c5;
  font-weight: 700;
  font-size: 1.125em;
  padding: 15px 50px;
  border-radius: 0; }

.zone-branding-wrapper {
  box-shadow: 0px 10px 20px -5px #888888; }

ul#superfish-1 li.sf-item-2 ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #68c7e9;
  padding: 0;
  width: 100% !important;
  border-radius: 0; }
  ul#superfish-1 li.sf-item-2 ul li {
    float: none;
    width: 200px;
    background: none;
    margin: 0;
    padding: 0;
    color: #000;
    text-transform: uppercase;
    padding: 0 0 0 5px; }
    ul#superfish-1 li.sf-item-2 ul li a {
      background: none;
      margin: 0;
      margin-top: 17px;
      padding: 0;
      padding-left: 10px !important;
      color: #fff;
      text-transform: none;
      font-weight: 300; }
    ul#superfish-1 li.sf-item-2 ul li a:hover {
      background: none;
      margin: 0;
      margin-top: 17px;
      padding: 0;
      color: #fff;
      text-transform: none;
      font-weight: 300; }
    ul#superfish-1 li.sf-item-2 ul li a.active {
      background: none;
      margin: 0;
      margin-top: 17px;
      padding: 0;
      color: #fff;
      text-transform: none;
      font-weight: 300; }

.block-views-partners-partner-block .views-row {
  border-bottom: 1px solid #ddd;
  float: left;
  margin-bottom: 30px; }
.block-views-partners-partner-block .views-field-field-logo {
  width: 100%;
  float: left; }
  .block-views-partners-partner-block .views-field-field-logo img {
    float: none; }
.block-views-partners-partner-block .views-field-title {
  width: 100%;
  float: none;
  text-align: center; }
.block-views-partners-partner-block .views-field-body {
  width: 100%;
  float: none;
  text-align: center; }

.view-display-id-conferences_slideshow_block .views-row {
  width: 31%;
  padding-right: 2%;
  float: left;
  margin: 0 auto; }
.view-display-id-conferences_slideshow_block #views_slideshow_cycle_main_conferences-conferences_slideshow_block {
  width: 80%;
  margin: 0 auto;
  float: none; }
.view-display-id-conferences_slideshow_block .views-slideshow-controls-text-previous {
  display: block;
  position: absolute;
  top: 56%;
  left: 0px;
  z-index: 100;
  background: url("img/dark-arrowleft.png") no-repeat center;
  background-size: 40px;
  width: 40px;
  height: 62px;
  text-indent: -9999px; }
.view-display-id-conferences_slideshow_block .views-slideshow-controls-text-pause {
  display: none; }
.view-display-id-conferences_slideshow_block .views-slideshow-controls-text-next {
  display: block;
  position: absolute;
  top: 56%;
  right: 0px;
  z-index: 100;
  text-indent: -9999px;
  background: url("img/dark-arrowright.png") no-repeat center;
  background-size: 40px;
  width: 40px;
  height: 62px; }

.block-conferences-conferences-pdf .views-row {
  float: left; }
  .block-conferences-conferences-pdf .views-row .views-field-field-download-button {
    width: 50%; }
  .block-conferences-conferences-pdf .views-row .views-field-field-pdf-download {
    width: 50%; }
    .block-conferences-conferences-pdf .views-row .views-field-field-pdf-download .field-content {
      text-align: center; }
    .block-conferences-conferences-pdf .views-row .views-field-field-pdf-download span.file img {
      display: none; }
    .block-conferences-conferences-pdf .views-row .views-field-field-pdf-download span.file a {
      color: #fff; }
    .block-conferences-conferences-pdf .views-row .views-field-field-pdf-download span.file-size {
      display: none; }

.block-video-s-block-1 h2 {
  border-bottom: 1px solid #fff;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px; }
.block-video-s-block-1 .view-video-s .views-field-title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 10px; }
.block-video-s-block-1 .view-video-s .views-field-body {
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  width: 65%;
  margin: 0 auto; }
.block-video-s-block-1 .view-video-s .views-field-field-video {
  text-align: center;
  margin-bottom: 30px; }

.zone-preface-wrapper {
  padding-bottom: 50px; }

iframe.media-youtube-player {
  width: 100%; }

/*# sourceMappingURL=global.css.map */
